<div class="landing-form main-content">
  <span class='center-text'><h2>Indecisive and hungry? <br /> You've come to the right place!</h2></span>
  <span class='center-text'><h4>Just enter your current location below:</h4></span>
  <form id='get-address'>
    <label class="label-field" for='street'>Street</label>
    <input type='text' name='street'><br/>
    <label class="label-field" for='city'>City</label>
    <input type='text' name='city'><br/>
    <label class="label-field" for='state'>State</label>
    <input type='text' name='state'><br/>
    <label class="label-field" for='zip'>Zipcode</label>
    <input type='text' name='zip'><br/><br/>
    <input type="submit" value='Get yo foodz!'>
  </form>
</div>
