<div class="landing-form main-content">
  <span class='center-text'><h2>Indecisive and hungry? <br /> You've come to the right place!</h2></span>
  <span class='center-text'><h4>Just enter your current location below:</h4></span>
  <form id='get-address'>
    <label class="label-field" for='Street'>Street</label>
    <input type='text' name='Street'><br/>
    <label class="label-field" for='City'>City</label>
    <input type='text' name='City'><br/>
    <label class="label-field" for='State'>State</label>
    <input type='text' name='State'><br/>
    <label class="label-field" for='Zipcode'>Zipcode</label>
    <input type='text' name='Zipcode'><br/><br/>
    <input type="submit" value='Get yo foodz!'>
  </form>
</div>
